<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-config-plugin"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>AppConfig</name>

    <js-module src="www/AppConfig.js" name="AppConfig">
        <clobbers target="window.plugins.AppConfig"/>
    </js-module>

    <!-- ANDROID -->
    <platform name="android">
        <source-file src="src/android/AppConfig.java"
                     target-dir="src/com/example/appconfig" />

	<config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppConfig">
                <param name="android-package"
                       value="com.example.appconfig.AppConfig" />
            </feature>
        </config-file>
    </platform>

    <!-- IOS -->
    <platform name="ios">
        <source-file src="src/ios/AppConfig.m" />
        <source-file src="src/ios/AppConfig.h" />

	<config-file target="config.xml" parent="/*">
	   <feature name="AppConfig">
              <param name="ios-package" value="AppConfig" />
	   </feature>
	</config-file>

    </platform>

</plugin>

